# OS/editor
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.log

# Python/R caches
__pycache__/
*.pyc
.Rproj.user/
.Rhistory
.RData

# MAPI-specific large/ephemeral dirs
scratch/

# Ignore all runtime env directories inside envs/
envs/**
# But DO track YAMLs in the envs/ root directory
!envs/*.yml
!envs/*.yaml

genomes/
tools/miniconda3/
projects/
.gen/
*.bak

# Large genomics files (adjust if needed)
*.fastq
*.fastq.gz
*.fq.gz
*.bam
*.bai
*.cram
*.crai
*.vcf
*.vcf.gz
*.fasta
*.fa
*.fai
*.2bit
*.bt2
*.mmi
*.dict
*.gff
*.gtf
*.bed
*.bw
*.tsv.gz
